@font-face {
    font-family: "Fashion";
    src: url("../fonts/Fashion.ttf");
}
@font-face {
    font-family:"fashi954";
    src: url("../fonts/fashi954.ttf");
}
@font-face {
    font-family: "Jost-Medium";
    src: url("../fonts/Jost-Medium.ttf");
}

.topnav{
    display: flex;
    justify-content: space-between;
}
/*Imagen peluquería + texto*/
.imagen{
    position: relative;
    display: flex;
    align-items: center;
}
/*Imagen peluquería*/
.img{
    width: 1350px;
    height: 800px;
    opacity: 0.35;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
}
/*Otras imagenes*/
.img2, .img3, .img4, .img5, .img6, .img7, .img8{
    width: 200px;
    height: 150px;
}

/*Buscador + párrafo*/
.txt{
    position: absolute;
}
/*Buscador*/
.texto{
    list-style: none;
    display: flex;
    align-items: center;
}
.texto li{
    margin: auto;
    width: 180px;
    padding: 40px;
}
.texto a{
        font-family: 'Jost-Medium', Jost-Medium;
        font-size: 15px;
        color: white;
        margin: auto;
        border: 10px solid rgb(43, 42, 42);
        background-color: rgb(43, 42, 42);
        text-align: center;
        list-style: none;
        text-decoration: none;
        transition:0.2s;
}
.texto a:hover{
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
    border: 12px solid rgb(43, 42, 42);

}
.registrartext{
    text-align: center;
}

/*Cada buscador*/
.peluquero, .corte, .zona{
    padding: 5px;
    margin: 5px;
}
.parrafo{
    font-size: 35px;
    font-family: 'Jost-Medium', Jost-Medium;
    color: black;
    text-align: left;
}
.menu{
    display: flex;
    list-style: none;
    width: max-content;
}
.index, .registro, .recomendar, .tienda, .top10{
    text-transform: uppercase;
    width: max-content;
}
.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 100px;
    text-align: center;
    list-style: none;
    padding: 50px;
}
.toplugares{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 100px;
    text-align: center;
    list-style: none;
    padding: 50px;
    margin: 10px;
}
.Estilo, .lugar, .hora{
    background-color: whitesmoke;
    box-shadow: 2px 3px 7px 0 rgba(0,0,0,.2);
    padding: 5px;
    transition: 0.2s;
    margin: 8px;
}
.Estilo:hover, .lugar:hover, .hora:hover{
    box-shadow: 6px 8px 10px 0 rgba(0,0,0,.2);
    padding: 9px;
    margin: 4px;

}
h1{
    font-family: 'Fahion', Fashion;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    text-shadow: 2px 2px 2px gray;

}
.menu li{
    margin-top: 25px;
    padding: 5px;
}
.menu a{
    font-family: 'Jost-Medium', Jost-Medium;
    font-size: 15px;
    color: black;
    margin: 10px;
    width: 180px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    list-style: none;
    text-decoration: none;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    transition:0.2s;
}
.menu a:hover{
    margin: 8px;
    border: 12px solid whitesmoke;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
}
.mail, .contraseña, .submit, .nombre, .number, .email, .buscando, .mensaje, .noticias, .enviar{
    padding: 5px;
}
footer{
    margin-top: 50px;
}
.servicios, .toplugares, .compra, .comodo, .gestiona, .crece, .iniciar{
    font-family: 'Jost-Medium', Jost-Medium;
}
.toplugares1{
    text-align: center;
    font-family: 'Jost-Medium', Jost-Medium;
    font-size: 30px;
}
.background{
    background: url(../img/image.jpg);
    padding: 0%;
    margin: 0%;
    border: 0%;
}
body{
    background:url(../img/Silver-Wallpaper.jpg)
}
.body1{
    margin: 0;
    padding: 0;
}

/* Registrar tu salón*/
.organiza, .queremos, .registrartexto{
    text-align: center;
    font-family: 'Jost-Medium', Jost-Medium;

}
.registra{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 100px;
    text-align: center;
    list-style: none;
    padding: 50px;
}
.gestionate, .comodidad, .crecimiento{
    width: 150px;
    height: 110px;
}
h5{
    font-size: 20px;
}
.organiza{
    font-size: 30px;
}
.formulario{
    position: static;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomienda{
    font-family: 'Jost-Medium', Jost-Medium;
}
.nombre, .number, .email, .buscando, .mensaje, .enviar{
    font-family: 'Jost-Medium', Jost-Medium;
    font-size: 15px;
    color: black;
    margin: 10px;
    width: 300px;
    border-left: 100px solid whitesmoke;
    border-right: 100px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    list-style: none;
    text-decoration: none;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
    align-items: center;
}
.enviar{
    font-family: 'Jost-Medium', Jost-Medium;
    font-size: 15px;
    color: black;
    margin: 10px;
    width: 180px;
    border-left: 50px solid whitesmoke;
    border-right: 50px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    list-style: none;
    text-decoration: none;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
    align-items: center; 
}
.recomienda{
    text-align: center;
}
.send{
    border: 0;
    padding: 0;
}

/*Tienda*/
.productos, .cuidado, .artefactos, .mejores{
    font-family:'Jost-Medium', Jost-Medium;
    padding: 25px;
    text-align: center;
}
.img-cera, .img-shampoo, .img-kerastase, .img-spray, .img-apliques, .img-planchita, .img-secador, .img-afeitadora, .img-num1, .img-num2, .img-num3, .img-num4, .img-num5, .img-num6, .img-num7, .img-num8, .img-num9, .img-num10{
    width: 150px;
    height: 150px;
}
.productoscuidado, .artefactoscabello{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 100px;
    font-family:'Jost-Medium', Jost-Medium;
    align-items: center;   
}
.top{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 50px;
    font-family:'Jost-Medium', Jost-Medium;
    align-items: center;
}
.cera, .shampoo, .kerastase, .spray, .apliques, .planchita, .secador, .afeitadora, .num1, .num2, .num3, .num4, .num5, .num6, .num7, .num8, .num9, .num10{
    margin: 10px;
    width: 180px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
    max-width: 992px;
    align-items: center;
}

/*Media Queries*/
@media screen and (max-width:700px){
    .toplugares{
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 100px;
        text-align: center;
        list-style: none;
        padding: 50px;
    }
    .topnav{
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 40px;
            text-align: center;
            list-style: none;
            padding: 20px;
    }
    .menu{
        flex-direction: column ; 
 
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    .texto{
        flex-direction: column;
        row-gap: 10px; 
    }
    .parrafo{
        font-size: 25px;
        font-family: 'Jost-Medium', Jost-Medium;
        color: black;
        text-align: center;

    }
    .servicios, .registra, .productoscuidado, .artefactoscabello, .top{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 100px;
        text-align: center;
        list-style: none;
        padding: 50px;
    }
    .img{
        width: 730px;
        height: 500px;
}
    }
    .nombre, .number, .email, .buscando, .mensaje, .enviar{
        border-left: 20px solid whitesmoke;
        border-right: 20px solid whitesmoke;
}


@media screen and (min-width:701px) and (max-width:1300px){
    .toplugares, .productoscuidado, .artefactoscabello, .top{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 100px;
        text-align: center;
        list-style: none;
        padding: 50px;
    }
    .topnav{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 100px;
        text-align: center;
        list-style: none;
        padding: 50px;
    }
    .menu{
        flex-direction: column ; 
    }
    h1{
        font-size: 100px;
        text-align: center;
    }
    .texto{
        flex-direction: column;
        row-gap: 10px; 
    }
    .parrafo{
        font-size: 25px;
        font-family: 'Jost-Medium', Jost-Medium;
        color: black;
        text-align: center;

    }
    .servicios{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 100px;
        text-align: center;
        list-style: none;
        padding: 50px;
    }
    
}
