@charset "UTF-8";
header {
  padding-top: 10px; }

/*Colores para los backgrounds*/
/*Breakpoints para los Media Queries*/
html, body {
  width: 100%;
  height: 100%; }

main {
  flex-grow: 1; }

header, main, footer {
  flex-shrink: 0; }

/*INDEX*/
/*Primer background*/
.background1 {
  background-image: url(../img/proyect1-modified.png);
  height: 700px;
  width: 100%; }

.navbar-brand {
  font-family: 'Fahion', Fashion;
  color: white;
  font-size: 50px;
  padding: 10px; }

p:first-child {
  font-size: 35px;
  color: white;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px; }

.servicios {
  color: white;
  margin: 40px;
  padding-bottom: 25px;
  padding-top: 45px; }
  .servicios img {
    width: 130px;
    height: 120px; }

.servicios_element, .top10_element {
  text-align: center;
  margin: 10px;
  align-items: center;
  transition: 0.5s; }

.servicios_element:hover, .top10_element:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

/*Segundo background*/
.background2 {
  background-color: whitesmoke;
  padding-top: 50px; }

.agendate, .paga {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center; }

.btn-agenda, .btn-paga, .btn-registra {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
  transition: 0.2s; }

.btn-paga, .btn-registra {
  background-color: black;
  color: white; }

.btn-agenda:hover, .btn-paga:hover, .btn-registra:hover, .btn-registra:hover {
  background-color: white; }

.codigoqr {
  padding-top: 40px;
  padding-bottom: 60px; }
  .codigoqr img {
    width: 400px;
    height: 250px;
    transition: 0.4s; }
  .codigoqr img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.background3 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #161616; }
  .background3 img {
    width: 130px;
    height: 120px; }
  .background3 h3:first-child {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 30px; }
  .background3 .peluqueria {
    color: white; }
    .background3 .peluqueria img {
      width: 100px;
      height: 60px; }
  .background3 .peluqueria_element {
    padding: 30px;
    text-align: center;
    margin: 10px;
    align-items: center;
    background-color: #252525; }

/*RECOMENDAR UN SALON*/
.background-recomendar {
  color: white;
  padding-bottom: 50px; }

.recomienda {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

/*REGISTRAR SALÓN*/
.background-registro {
  padding-bottom: 50px; }

.organiza, .queremos, .registrartexto {
  text-align: center; }

.gestionate, .comodidad, .crecimiento {
  width: 150px;
  height: 110px; }

h5 {
  font-size: 20px; }

.organiza {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px; }

.queremos {
  padding-bottom: 30px; }

.registrarahora {
  text-align: center;
  padding-top: 30px; }

/*TIENDA*/
.productos, .mejores, .cuidados, .artefactos {
  text-align: center;
  padding-top: 25px;
  color: black; }

.img-cuidado, .img-artefacto {
  width: 150px;
  height: 150px; }

.cuidado, .artefacto {
  color: black;
  margin: 40px;
  padding-bottom: 25px;
  padding-top: 45px; }
  .cuidado img, .artefacto img {
    width: 130px;
    height: 120px; }

.cuidado_element, .artefacto_element {
  text-align: center;
  margin: 10px;
  align-items: center;
  transition: 0.5s; }

.cuidado_element:hover, .artefacto_element:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

/*TOP10*/
.top {
  color: white;
  margin: 40px;
  padding-bottom: 25px;
  padding-top: 45px; }
  .top img {
    width: 130px;
    height: 120px; }

.top10_element {
  padding: 10px; }

.background-top10 {
  color: white; }

.mejores {
  padding: 25px;
  text-align: center;
  color: white; }

main {
  padding-bottom: 50px; }

footer {
  background-color: black;
  color: white; }

/*Mapa de backgrounds*/
.background-registro {
  background-color: whitesmoke; }

.background-recomendar {
  background-color: #161616; }

.background-tienda {
  background-color: whitesmoke; }

.background-top10 {
  background-color: #161616; }

/*MEDIA QUERIES*/
@media (min-width: 769px) and (max-width: 1050px) {
  .codigoqr img {
    width: 280px;
    height: 180px;
    padding-right: 20px; }
  .peluqueria img {
    width: 50px;
    height: 40px; } }

@media (min-width: 633px) and (max-width: 768px) {
  .codigoqr img {
    width: 280px;
    height: 180px;
    padding-bottom: 20px; }
  .background1 {
    height: 1100px; }
  p:first-child {
    font-size: 25px; }
  .servicios {
    padding-top: 15px; } }

@media (min-width: 416px) and (max-width: 632px) {
  .codigoqr img {
    width: 280px;
    height: 180px;
    padding-bottom: 20px; }
  p:first-child {
    font-size: 16px; }
  .background1 {
    height: 1200px; }
  .servicios {
    padding-top: 15px; } }

@media (min-width: 356px) and (max-width: 415px) {
  .codigoqr img {
    width: 280px;
    height: 180px;
    padding-bottom: 20px; }
  p:first-child {
    font-size: 14px; }
  .background1 {
    height: 1270px; }
  .codigoqr img {
    width: 300px;
    height: 200px;
    padding-bottom: 20px; } }

@media (min-width: 336px) and (max-width: 355px) {
  .codigoqr img {
    width: 250px;
    height: 150px;
    padding-bottom: 20px; }
  .background1 {
    height: 1400px; } }

@media (max-width: 335px) {
  .background1 {
    height: 1500px; }
  .codigoqr img {
    width: 200px;
    height: 120px;
    padding-bottom: 20px; } }
