@font-face {
    font-family: "Fashion";
    src: url("../fonts/Fashion.ttf");
}
@font-face {
    font-family:"fashi954";
    src: url("../fonts/fashi954.ttf");
}
@font-face {
    font-family: "Jost-Medium";
    src: url("../fonts/Jost-Medium.ttf");
}
.container{
    padding-top: 50px;
}
.background1{
    background-image:  url(../img/proyect1-modified.png);
    height: 750px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.background-registro, .background-recomendar{
    background-color: rgb(22, 22, 22);
    height: 100%;
    width: 100%;
    color: white;
}
.background-tienda, .background-top10{
    background-color: rgb(22, 22, 22);
    height: 100%;
    width: 100%;
    color: black;
}
.background-recomendar{
    text-align: center;
}
.dropdown{
    text-align: center;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.menu a{
    font-family: 'Jost-Medium', Jost-Medium;
    font-size: 15px;
    color: white;
    margin: 20px;
    border: 10px;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.menu a:hover{
    color: black;
    margin: 10px;
    border: 10px solid whitesmoke;
    background-color:whitesmoke ;
    box-shadow: 8px whitesmoke;

} 
.parrafo{
    font-size: 35px;
    color: white;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}
.img-num1:hover, .img-num2:hover, .img-num3:hover, .img-num4:hover, .img-num5:hover, .img-num6:hover, .img-num7:hover, .img-num8:hover, .img-num9:hover, .img-num10:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
/*Imagen peluquería + texto*/
.imagen{
    position: relative;
    display: flex;
    align-items: center;
}
/*Imagen peluquería*/
.img{
    width: 1350px;
    height: 800px;
    opacity: 0.35;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
}
/*Otras imagenes*/
.img2, .img3, .img4, .img5, .img6, .img7, .img8{
    width: 200px;
    height: 150px;
}
.registrarahora{
    text-align: center;
}
/*Buscador + párrafo*/

/*Buscador*/
.texto{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.texto li{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
.registrartext{
    text-align: center;
}

/*Cada buscador*/
.peluquero, .corte, .zona{
    padding: 5px;
    margin: 5px;
}

.menu{
    display: flex;
    list-style: none;
    width: max-content;
}
.index, .registro, .recomendar, .tienda, .top10{
    text-transform: uppercase;
    width: max-content;
}
.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 100px;
    text-align: center;
    list-style: none;
    padding: 100px;
}
.peluqueria{
    color: white;
}
.qr{
    width: 400px;
    height: 250px;
}
.codigoqr{
    padding-top: 40px;
    padding-bottom: 60px;
}
.background2{
    background-color: whitesmoke;
}
.agendate{
    text-align: center;
}
.Estilo, .lugar, .hora, .num1, .num2, .num3, .num4, .num5, .num6, .num7, .num8, .num9, .num10{
    padding: 5px;
    transition: 0.2s;
    margin: 8px;
}
.Estilo:hover, .lugar:hover, .hora:hover{
    box-shadow: 6px 8px 10px 0 silver;
    padding: 9px;
    margin: 4px;
}
h1{
    font-family: 'Fahion', Fashion;
    color: white;
    font-size: 50px;
    padding: 10px;
}
footer{
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
}
.toplugares1{
    text-align: center;
    font-family: 'Jost-Medium', Jost-Medium;
    font-size: 30px;
    color: white;
}
.toplugares{
    height: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
}
.body1{
    margin: 0;
    padding: 0;
}
/* Registrar tu salón*/
.organiza, .queremos, .registrartexto{
    text-align: center;
}
.gestionate, .comodidad, .crecimiento{
    width: 150px;
    height: 110px;
}
h5{
    font-size: 20px;
}
.organiza{
    font-size: 30px;
}
.formulario{
    position: static;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recomienda{
    text-align: center;
}
/*Tienda*/
.productos, .cuidado, .artefactos, .mejores{
    font-family:'Jost-Medium', Jost-Medium;
    padding: 25px;
    text-align: center;
    color: white;
}
.img-cera, .img-shampoo, .img-kerastase, .img-spray, .img-apliques, .img-planchita, .img-secador, .img-afeitadora, .img-num1, .img-num2, .img-num3, .img-num4, .img-num5, .img-num6, .img-num7, .img-num8, .img-num9, .img-num10{
    width: 150px;
    height: 150px;
}

.cera, .shampoo, .kerastase, .spray, .apliques, .planchita, .secador, .afeitadora, .num1, .num2, .num3, .num4, .num5, .num6, .num7, .num8, .num9, .num10{
    margin: 10px;
    width: 180px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,.2);
    max-width: 992px;
    align-items: center;
    transition: 0.2s;
}
.cera:hover, .shampoo:hover, .kerastase:hover, .spray:hover, .apliques:hover, .planchita:hover, .secador:hover, .afeitadora:hover, .num1:hover, .num2:hover, .num3:hover, .num4:hover, .num5:hover, .num6:hover, .num7:hover, .num8:hover, .num9:hover, .num10:hover{
    box-shadow: 6px 8px 10px 0 rgba(0,0,0,.2);
    padding: 9px;
    margin: 4px;
}
.mensaje{
    padding-top: 20px;
}
@media (max-width:900px){
    .menu{
        display: flex;
        flex-direction: column;
    }
}
    
