@import "header";
@import "footer";
@import "variables";
@import "mixins";

/*Colores para los backgrounds*/
$color1:whitesmoke;
$color2:rgb(22, 22, 22);

/*Breakpoints para los Media Queries*/
$sm:480px;
$md:768px;
$lg:1024px;
$xl:1200px;

html, body {
    width: 100%;
    height: 100%;
}
main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

/*INDEX*/
/*Primer background*/
.background1{
    background-image:  url(../img/proyect1-modified.png);
    height: 700px;
    width: 100%;
}

.navbar-brand{
    font-family: 'Fahion', Fashion;
    color: white;
    font-size: 50px;
    padding: 10px;
}

p:first-child{
    font-size: 35px;
    color: white;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}
.servicios{
    color: white;
    margin: 40px;
    padding-bottom: 25px;
    padding-top: 45px;
    img{
        width: $widthImagen;
        height: $heightImagen;
    }  
}
.servicios_element{
    @include flex;
    margin: 10px;
    align-items: center;
    transition: 0.5s;
}
.servicios_element:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*Segundo background*/
.background2{
    background-color: $color1;
    padding-top: 50px;
}

.agendate, .paga{
    padding-top: 40px;
    padding-bottom: 20px;
    @include flex;
}

.btn-agenda{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color:black;
    background-color: whitesmoke;
    transition: 0.2s;
}

.btn-paga, .btn-registra{
    @extend.btn-agenda;
    background-color: black;
    color: white;
}

.btn-agenda:hover, .btn-registra:hover{
    background-color: white;
}

.codigoqr{
    padding-top: 40px;
    padding-bottom: 60px;

    img{
        width: 400px;
        height: 250px;
        transition: 0.4s;
    }
    img:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        }
}

.background3{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $color2;

    img{
        width: $widthImagen;
        height: $heightImagen;
    }
    h3:first-child{
        @include flex;
        font-size: 30px;
        color: white;
        padding-bottom: 30px;
    }
    .peluqueria{
        color: white;
        img{
            width: 100px;
            height: 60px;
        }  
    }
    .peluqueria_element{
        padding: 30px ;
        @include flex;
        margin: 10px;
        align-items: center;
        background-color: rgb(37, 37, 37);
    }
}

/*RECOMENDAR UN SALON*/
.background-recomendar{
    color: white;
    padding-bottom: 50px;
}

.recomienda{
    @include flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*REGISTRAR SALÓN*/
.background-registro{
    padding-bottom: 50px;
}

.organiza, .queremos, .registrartexto{
    text-align: center;
}

.gestionate, .comodidad, .crecimiento{
    width: 150px;
    height: 110px;
}

h5{
    font-size: 20px;
}

.organiza{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
}

.queremos{
    padding-bottom: 30px;
}

.registrarahora{
    text-align: center;
    padding-top: 30px;
}

/*TIENDA*/
.productos, .mejores, .cuidados, .artefactos{
    @include flex;
    padding-top: 25px;
    color: black;
}

.img-cuidado, .img-artefacto{
    width: 150px;
    height: 150px;
}
.cuidado, .artefacto{
    color: black;
    margin: 40px;
    padding-bottom: 25px;
    padding-top: 45px;
    img{
        width: $widthImagen;
        height: $heightImagen;
    }  
}
.cuidado_element, .artefacto_element{
    @include flex;
    margin: 10px;
    align-items: center;
    transition: 0.5s;
}
.cuidado_element:hover, .artefacto_element:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*TOP10*/
.top{
color: white;
    margin: 40px;
    padding-bottom: 25px;
    padding-top: 45px;
    img{
        width: $widthImagen;
        height: $heightImagen;
    }
}
.top10_element{
    @extend .servicios_element;
    padding: 10px;
}

.background-top10{
    color: white;
}

.mejores{
    padding: 25px;
    @include flex;
    color: white;
}

main{
    padding-bottom: 50px;
}

footer{
    background-color: black;
    color:white;
}

/*Mapa de backgrounds*/
$coloresBackground:(background-registro:whitesmoke, background-recomendar:rgb(22, 22, 22), background-tienda:whitesmoke, background-top10:rgb(22, 22, 22));
@each $background,
$color in $coloresBackground{
    .#{$background}{
        background-color: $color;
    }
}

/*MEDIA QUERIES*/
@media (min-width:769px) and (max-width:1050px){
    .codigoqr img{
        width: 280px;
        height: 180px;
        padding-right: 20px;
    }
    .peluqueria{
        img{
        width: 50px;
        height: 40px;
        }
    }
}
@media (min-width:633px) and (max-width:768px){
    .codigoqr img{
        width: 280px;
        height: 180px;
        padding-bottom: 20px;
    }
    .background1{
        height: 1100px;
    }
    p:first-child{
        font-size: 25px;
    }
    .servicios{
        padding-top: 15px;
    }
}
@media (min-width:416px) and (max-width:632px) {
    .codigoqr img{
        width: 280px;
        height: 180px;
        padding-bottom: 20px;
    }
    p:first-child{
        font-size: 16px;
    }
    .background1{
        height: 1200px;
    }
    .servicios{
        padding-top: 15px;
    }
}
@media (min-width:356px) and (max-width:415px){
    .codigoqr img{
        width: 280px;
        height: 180px;
        padding-bottom: 20px;
    }
    p:first-child{
        font-size: 14px;
    }
    .background1{
        height: 1270px;
    }
    .codigoqr img{
        width:300px;
        height:200px;
        padding-bottom: 20px;
    }
}
@media (min-width:336px) and (max-width:355px){
    .codigoqr img{
        width:250px;
        height:150px;
        padding-bottom: 20px;
    }
    .background1{
        height: 1400px;
    }
}
@media (max-width:335px){
    .background1{
        height: 1500px;
    }
    .codigoqr img{
        width:200px;
        height:120px;
        padding-bottom: 20px;
    }
}
